/* 共通 css */
body {
    margin: unset;
    font-family: "AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif;
    background-color: #f9fbfe;
}
ul {
    list-style: none;
    padding: unset;
    margin: unset;
}
a {
    text-decoration: none;
}
a.button, details {
    color: #2b546a;
    border-radius: 5px;
    padding-top: 1em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    padding-left: 1.5em;
}
a.red {
    color: #fff;
    background-color: #fc5476;
}
a.white {
    color: #2b546a;
    background-color: #f0f4f9;
}
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

section {
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
}

/* バッチロゴガイドラインより
バッジの高さ：40px以上
最小の余白　：バッジの高さの4分の1 */
.app-badges img {
    height: 40px;
}
.app-badges img:first-of-type {
    padding-right: 10px;
}

/* 文字サイズ・色 */
h1, h2, h3, summary {
    text-align: center;
    color: #2b546a;
}
h2 {
    font-size: 17px;
}
a {
    color: #0070d2;
    font-size: 12px;
}
p {
    color: #8491a5;
    font-size: 12px;
}
details, summary {
    font-size: 12px;
}


/* 狭い画面向けの既定の CSS レイアウト値 */
header {
    z-index: 1;
    position: fixed;
    background-color: #f9fbfe;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-top: 0.7em;
    padding-right: 1em;
    padding-bottom: 0.7em;
    padding-left: 1em;
}
header span.logo {
    display: block;
    width: 1.5em;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://lh3.googleusercontent.com/d/17rrR0RFFmUM4S0qYETGHIU46prq-XCBg);
}
header nav ul {
    display: flex;
    align-items: center;
}
header nav ul li:first-of-type {
    display: none;
}
header nav details summary {
    list-style: none;
}
/* Safari/Opera */
header nav details summary::-webkit-details-marker {
	display: none;
}
header nav details[open] div {
    position: absolute;
    margin-top: calc(1em + 2px);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px 1px #4040405e;
}
header nav details[open] a {
    background-color: #fff;
    padding-top: 1.5em;
    padding-right: 10em;
    padding-bottom: 1.5em;
    padding-left: 2em;
}
header nav details[open] a.selected {
    background-color: #f0f4f9;
}
main {
    padding-top: 60px;
}
main section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section.CAT_top div {
    display: flex;
    align-items: center;
}
main section.CAT_top span::before {
    font: var(--fa-font-solid);
    font-size: 0.8em;
    vertical-align: middle;
    padding-right: 0.5em;
    color: #7E8DA4;
}
main section.CAT_top span.user-group::before {
    content: '\f500';
}
main section.CAT_top span.globe::before {
    content: '\f0ac';
    padding-left: 2em;
}
main section.CAT_top p {
    display: inline;
    font-weight: bold;
}
main section.CAT_top i {
    color: #8491a5;
    padding-right: 0.5em;
    padding-left: 1em;
}
main section.CAT_top p > span {
    color: #2b546a;
}
main section.CAT_top a.button {
    font-size: 14px;
    padding-left: 2.5em ;
    padding-right: 2.5em ;
    margin-top: 1em;
}
main section.first_view {
    padding: unset;
}
main section.first_view > div {
    width: 100%;
    background-color: #88e7ce;
    padding-top: 3em;
    overflow: hidden;
}
main section.first_view img {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding-left: 1em;
}
main section.first_view h2 {
    align-self: stretch;
    margin-top: 2em;
    margin-bottom: unset;
    text-align: start;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
}
main section.about div.overflow-x-wrap {
    overflow-x: scroll;
    scrollbar-width: none;
}
main section.about img {
    width: 150%;
}
main section.about h2 {
    text-align: start;
}
main section.about p {
    line-height: 2em;
    letter-spacing: 0.1em;
    padding-bottom: 4em;
}
main section.about p br {
    display: none;
}
main section.success_story  {
    background-color: #2b546a;
    padding-bottom: 3em;
}
main section.success_story div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
main section.success_story h2 {
    width: 100%;
    color: #ffff;
    margin-bottom: unset;
}
main section.success_story h2 + p {
    width: 100%;
    color: #ffff;
    text-align: center;
    line-height: 2em;
    margin-bottom: 3em;
}
main section.success_story div.box {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 1em;
}
main section.success_story div.box a {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 1.5em;
    padding-left: 1em;
}
main section.success_story div.box:nth-of-type(n + 4) {
    display: none;
}
main section.success_story img.tb {
    display: none;
}
main section.success_story div.box h3 {
    margin-bottom: 1.5em;
    font-size: 14px;
    text-align: start;
}
main section.success_story div.box div.img-names {
    display: flex;
    align-items: center;
}
main section.success_story  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1em;
}
main section.success_story div.box div.img-names div.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
}
main section.success_story div.box div.img-names div.name p {
    color: #bac6d3;
    margin: unset;
}
main section.success_story div.box div.img-names div.name p:first-child {
    font-size: 14px;
}
main section.success_story div.box div.img-names div.name p:last-child {
    font-size: 10px;
}
main section.success_story a.button {
    margin-top: 1em;
    font-size: 12px;
    padding-right: 2em;
    padding-left: 2em;
}
main section.plan {
    display: block;
    padding-top: 3em;
}
main section.plan div {
    background-color: #f0f4f9;
    border-radius: 10px;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-align: center;
}
main section.plan div:first-of-type {
    padding-bottom: unset;
    text-align: unset;
}
main section.plan div:last-of-type {
    background-color: #f7edad;
}
main section.plan div img {
    margin-top: 1.5em;
    width: 75%;
    display: block;
    padding-left: 1em;
}
main section.plan div p:first-of-type {
    margin-bottom: 4em;
    font-weight: unset;
    color: #8491a5;
}
main section.plan div p {
    font-weight: bold;
    color: #2b546a;
}
main section.plan p:last-of-type {
    font-size: 14px;
    margin-top: 0.5em;
}
main section.plan div p span.yen {
    font-size: 1.5em;
}
main section.plan div p span.price {
    font-size: 2em;
}
main section.plan a {
    display: flex;
    align-items: center;
}
main section.plan i {
    padding-left: 0.5em;
}
main section.app {
    padding-bottom: 3em;
}
main section.app p {
    text-align: center;
    margin-bottom: 3em;
}
main section.app div {
    background-color: #90c3f0;
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    border-radius: 5px;
}
main section.app h3 {
    color: #fff;
    font-size: 1em;
    text-align: start;
}
main section.app div p {
    color: #fff;
    text-align: start;
}
main section.app img.app_image {
    width: 100%;
}
main section.app div.app-badges {
    padding: unset;
    display: flex;
}
main section.last_view {
    background-color: #ffff;
    align-items: baseline;
    padding-top: 3em;
    padding-right: 1.5em;
    padding-left: 1.5em;
}
main section.last_view h2 {
    font-size: 19px;
    text-align: start;
}
main section.last_view p {
    line-height: 2em;
}
main section.CAT_bottom {
    padding-top: 3em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 5em;
}
main section.CAT_bottom p {
    text-align: center;
    margin-bottom: 2em;
}
main section.CAT_bottom a {
    padding-right: 3em;
    padding-left: 3em;
}
main div.sns  {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: solid 1px #eeeff1;
    background-color: #ffff;
}
main div.sns img {
    width: 20px;
    height: 20px;
}
main div.sns img:first-of-type {
    padding-right: 2em;
}
footer {
    background-color: #ffff;
    padding-bottom: 3em;
}
footer a:hover,
footer li a:hover {
    color: #44dcc0 !important;
}
footer div.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div.app img.Progate_logo {
    width: 130px;
    padding-top: 3em;
    padding-bottom: 3em;
}
footer div.app p {
    font-size: 1em;
    color: #2b546a;
    opacity: 0.7;
    margin-top: unset;
}
footer div.app div.app-badges {
    display: flex;
    justify-content: center;
}
footer div.about {
    text-align: center;
    padding-top: 1em;
}
footer div.about p {
    margin-bottom: unset;
    color: #2b546a;
    font-weight: bold;
    font-size: 1em;
}
footer div.about ul li {
    padding-top: 1em;
}
footer div.about ul a {
    color: #2b546a;
    font-size: 14px;
}
footer div.related_services {
    text-align: center;
    padding-top: 2em;
}
footer div.related_services > p {
    color: #2b546a;
    font-weight: bold;
    font-size: 1em;
}
footer div.related_services ul li {
    margin-bottom: 1em;
}
footer div.related_services ul li a p {
    letter-spacing: 0.1em;
    margin: unset;
    font-size: 12px;
}
footer div.related_services ul li a p:first-of-type {
    color:#2b546a;
}
footer div.related_services ul li a p:last-of-type {
    opacity: 0.7;
}
footer div.corporate_services {
    text-align: center;
    padding-top: 2em;
}
footer div.corporate_services > p,
footer div.corporate_services a p:first-of-type {
    color: #2b546a;
    font-weight: bold;
    font-size: 1rem;
}
footer div.corporate_services a p:last-of-type {
    margin-bottom: 4em;
    font-size: 12px;
    opacity: 0.7;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
footer div.corporate_services a img {
    width: 60%;
    height: 5em;
    object-fit: contain;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px #0000001f;
}
footer div.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div.links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
footer div.links ul li {
    padding-bottom: 1em;
}
footer div.links ul li:not(:first-of-type) {
    padding-left: 1em;
}
footer div.links ul li a {
    color: #2b546a;
}
footer div.links img {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 15px;
}
footer div.links img:last-of-type {
    margin-left: 1em;
    background-color: #2b546a;
    border-radius: 50%;
}
footer p:last-of-type {
    text-align: center;
    color: #2b546a;
    font-size: xx-small;
}
a.qa {
    position: fixed;
    bottom: 0;
    right: 1em;
    color: #fff;
    background-color: #fc5476;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-top: 1em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
}

@media (min-width: 480px) {
/* 中型の画面向けの CSS */
header span.logo {
    width: 9em;
    background-image: url("https://lh3.googleusercontent.com/d/1BkaDJCGY89vVrLRpl95rhD-TcoHTxil5");
}
main section.CAT_top h1 {
    font-size: 2em;
}
main section.CAT_top p {
    font-size: 1em;
}
main section.CAT_top a.button {
    margin-bottom: 2em;
    font-size: 1em;
}
main section.plan div img {
    width: 60%;
}
main section.app {
    padding-bottom: 4em;
}
main section.first_view > div {
    padding-top: 5em;
}
main section.first_view img {
    padding-right: 2em;
    padding-left: 2em;
}
main section.first_view h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}
main section.about img {
    width: 100%;
}
main section.about h2 {
    text-align: center;
    font-size: 1.5em;
}
main section.about p {
    text-align: center;
}
main section.about p br {
    display: block;
}
main section.success_story h2 {
    font-size: 1.5em;
}
main section.success_story div.box {
    width: 48%;
    margin-bottom: 2em;
    align-self: stretch;
}
main section.success_story div.box:nth-of-type(n + 4) {
    display: block;
}
main section.success_story div.box:nth-last-of-type(-n+2) {
    margin-bottom: 4em;
}
main section.success_story div.box a {
    align-items: center;
    padding-top: 3em;
    padding-right: 2em;
    padding-bottom: 3em;
    padding-left: 2em;
}
main section.success_story img {
    width: 100px;
    height: 100px;
    margin: unset;
}
main section.success_story img.tb {
    display: block;
}
main section.success_story img.sp {
    display: none;
}
main section.success_story div.box h3 {
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 1.3em;
}
main section.success_story div.box div.img-names div.name {
    align-items: center;
}
main section.success_story div.box div.img-names div.name p:first-child {
    font-size: 1.3em;
}
main section.success_story a.button {
    font-size: 1em;
    margin: 0 auto;
    padding-right: 4em;
    padding-left: 4em;
}
main section.plan h2 br {
    display: none;
}
main section.plan {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
main section.plan div:first-of-type {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 3em;
    padding-right: 2em;
    padding-left: 2em;
    margin-bottom: 2em;
}
main section.plan div img {
    margin-top: unset;
    width: 50%;
    padding-right: 15%;
    padding-left: unset;
    box-sizing: border-box;
}
main section.plan h2 {
    align-self: center;
    text-align: start;
    font-size: 1.5em;
}
main section.plan div:not(:first-of-type) {
    width: 48%;
    padding-top: 3em;
}
main section.plan a {
    width: 100%;
}
main section.app h2 {
    font-size: 1.5em;
}
main section.app img.app_image {
    width: 50%;
    height: 320px;
    object-fit: contain;
    float: right;
    padding-top: 3em;
}
main section.last_view {
    align-items: center;
    padding-top: 6em;
    padding-bottom: 6em;
}
main section.last_view h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
main section.last_view p {
    font-size: 1em;
    text-align: center;
}
main section.CAT_bottom {
    padding-top: 4em;
    padding-bottom: 6em;
}
main section.CAT_bottom h2 {
    font-size: 1.5em;
}
main section.CAT_bottom p {
    font-size: 1em;
    margin-top: unset;
}
main section.CAT_bottom a {
    font-size: 1em;
    padding-right: 2em;
    padding-left: 2em;
}
}

@media (min-width: 800px) {
  /* 広い画面向けの CSS */

section {
    /* padding-top: 2em; */
    padding-right: 2em;
    /* padding-bottom: 2em; */
    padding-left: 2em;
}
header {
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
}
header nav ul li:first-of-type {
    display: block;
}
header nav ul li a,
header nav details summary {
    font-size: 14px;
}
header nav ul li a.red {
    font-size: 0.7em;
}
main section.CAT_top h1 {
    font-size: 48px;
    margin-bottom: unset;
}
main section.CAT_top a.button {
    margin-top: 2em;
}
main section.first_view h2 {
    font-size: 3em;
}
main section.about h2 {
    font-size: 2em;
}
main section.about p {
    font-size: 1em;
    letter-spacing: unset;
    margin: unset;
}
main section.success_story {
    padding-top: 4em;
    padding-bottom: 6em;
}
main section.success_story h2 {
    font-size: 2em;
}
main section.success_story > p {
    font-size: 1em;
}
main section.plan {
    padding-top: 6em;
}
main section.plan h2 {
    font-size: 2em;
}
main section.plan h3 {
    font-size: 2em;
}
main section.plan div p {
    font-size: 1em;
}
main section.plan div p:first-of-type {
    margin-bottom: 3em;
}
main section.plan div p:last-of-type {
    font-size: 1em;
}
main section.plan div p span.yen {
    font-size: 2em;
}
main section.plan div p span.price {
    font-size: 3em;
}
main section.plan a {
    font-size: 1em;
    margin-top: 1em;
}
main section.app {
    padding-bottom: 6em;
}
main section.app h2 {
    font-size: 2em;
}
main section.app p {
    font-size: 1em;
    margin-top: unset;
}
main section.app div {
    padding-right: 2em;
    padding-left: 2em;
}
main section.app h3 {
    width: 40%;
    font-size: 1.1em;
}
main section.app p {
    width: 40%;
    font-size: 0.8em;
}
main section.last_view h2 {
    font-size: 2em;
}
main section.CAT_bottom {
    padding-top: 6em;
    padding-bottom: 7em;
}
main section.CAT_bottom h2 {
    font-size: 2em;
}
main div.sns {
    padding-top: 3em;
    padding-bottom: 3em;
}
main div.sns img{
    width: 25px;
    height: 25px;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3em;
    padding-right: 1em;
    padding-left: 1em;
}
footer p {
    width: 100%;
    margin-top: unset;
}
footer div.app {
    align-items: flex-start;
    width: 20%;
}
footer div.app img.Progate_logo {
    padding-top: unset;
    padding-bottom: unset;
}
footer div.app p {
    text-align: start;
    margin-top: 2em;
}
footer div.app div.app-badges {
    flex-direction: column;
    width: auto;
    align-items:flex-start
}
footer div.app div.app-badges img:first-of-type {
    padding-right: unset;
    padding-bottom: 0.5em;
}
footer div.about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 10%;
    padding-top: unset;
}
footer div.about p {
    text-align: start;
}
footer div.about ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer div.about ul li {
    text-align: start;
}
footer div.related_services {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 20%;
    padding-top: unset;
}
footer div.related_services p {
    text-align: start;
}
footer div.related_services ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer div.related_services ul li p {
    text-align: start;
}
footer div.corporate_services {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
    padding-top: unset;
}
footer div.corporate_services p {
    text-align: start;
}
footer div.corporate_services a p {
    text-align: start;
}
footer div.corporate_services a img {
    width: 100%;
}
footer div.links {
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
footer div.links ul {
    padding-right: 1em;
    padding-left: unset;
}
footer div.links ul li {
    padding-right: unset;
    padding-left: unset;
}
footer div.links ul li {
    padding-bottom: unset;
}
footer div.links div.sns {
    width: auto;
}
footer div.links img {
    margin-top: unset;
    margin-bottom: unset;
}
footer div a {
    width: 100%;
}
}

@media (min-width: 1100px) {
  /* 本当に広い画面向けの CSS */

div.container {
    max-width: 1000px;
    margin: 0 auto;
}
main section.CAT_top,
main section.first_view img,
main section.about,
main section.plan,
main section.app,
main section.last_view,
main section.CAT_bottom,
footer {
    max-width: 1000px;
    margin: 0 auto;
}
main section.success_story div.box {
    width: 30%;
}
main section.success_story div.box:nth-last-of-type(-n + 3) {
    margin-bottom: 4em;
}
}
